In [78]:
a = int(input('Enter a number'))
print(5 * a)

25

In [80]:
print('a', 'b', 'c', sep = ',', end = ',...')

a,b,c,...

In [81]:
a = b = 3
a, b

(3, 3)

In [82]:
type({'abc', 'def'})

set

In [83]:
float(3)

3.0

In [84]:
abs(-2)

2

In [85]:
5 / 2

2.5

In [86]:
5 // 2

2

In [87]:
5 % 2

1

In [88]:
x = int(input("Give me a num: "))
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [89]:
a = '''hi
bye'''
a

'hi\nbye'

In [90]:
print(a)

hi
bye

In [93]:
name = input('Enter your name: ')
age = input('Enter your age: ')
print(f'Your name is {name} and you are {age}.')

Your name is Alireza and you are 24.

In [94]:
'3' * 5

'33333'

In [95]:
c = not (10 >= 9 and 5 < 3)
c

True

In [113]:
numbers = [11, 23, 56, 89, 33]

In [114]:
numbers[-1:-4:-1]

[33, 89, 56]

In [115]:
len(numbers)

5

In [116]:
11 in numbers

True

In [117]:
numbers[2] = 0
numbers

[11, 23, 0, 89, 33]

In [118]:
numbers.append(100)
numbers

[11, 23, 0, 89, 33, 100]

In [119]:
numbers.remove(33)
numbers

[11, 23, 0, 89, 100]

In [120]:
numbers.pop(3)
numbers

[11, 23, 0, 100]

In [121]:
numbers = (5, 6, 7, 8)

In [122]:
mylist = list(numbers)
mylist

[5, 6, 7, 8]

In [123]:
mylist[2] = 0
mylist

[5, 6, 0, 8]

In [124]:
numbers = tuple(mylist)
numbers

(5, 6, 0, 8)

In [125]:
numbers = {1, 2, 3, 4}

In [126]:
5 in numbers

False

In [128]:
numbers.add(6)
numbers

{1, 2, 3, 4, 6}

In [129]:
numbers.remove(2)
numbers

{1, 3, 4, 6}